@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);

html, body{
margin: 0;
padding: 0;
}

body {
  color: white;
  padding: 100px;
  background-image: url("img/mountain.jpg");
  background-attachment: fixed;
}

* {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
